
html{
    color: #fff;
}
.nav_wrap{
    position: sticky;
    top: -1%;
    width: 100%;
    z-index: 1;
}
.navbar_normal{
    color: #fff;
    position: sticky;
    top: -0.1%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color:#2C2C2C!important;
    max-width: 100%;
    z-index: 1;
    
}
.navbar_hamburger{
    position: sticky;
    top: -0.1%;
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-between;
    background-color:#2C2C2C!important;
    max-width: 100%;
    z-index: 1;
}

.img_logo{
    padding-left: 2%;
    padding-right: 1%;
    max-height: 2rem;
    max-width: 2rem;
}
.navbar-links{
    list-style-type:none;
    display: flex;
    flex-wrap: nowrap;
}
.navbar-links li{
    
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar_normal a{
    text-decoration: none;
    color: #fff;
}

.wrapper { 
    overflow:hidden;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}
button{
    color: #fff;
    opacity: 1;
    background-color:#2C2C2C;
    border: none;
    max-width: 100%;
}
.nav_manu{
    display: none;
    position: relative;
    top: -10%;
    width: 100%;
    background-color: #2C2C2C;

}
.navbar_links_hamburger {
    display: block;
    list-style-type:none;
    padding-left: 0%;
    text-align: center;

}

.navbar_links_hamburger li:hover{
    background-color: gray;
}
.navbar_links_hamburger a{
    text-decoration: none;
    color: #fff;
}
@media screen and (max-width:429px) {
    html{
        font-size: 0.8rem;
    }
    .navbar_hamburger{
        display: flex;
    }
    .navbar{
        display: none;
    }
}
@media screen and (max-width:429px) {
    html{
        font-size: 0.8rem;
    }
    .navbar_hamburger{
        display: flex;
    }
    .navbar_normal{
        display: none;
    }
}